* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, rgb(188, 255, 226) 0%, #ffffff 70%);
  padding-top: 60px;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 20px;
  padding-bottom: 80px;
}

.page-container {
  padding-top: 70px; 
}
